/* _account.scss */

.account{
	backface-visibility: hidden;
	z-index: 9001;
	position: fixed;
	padding: 1em;
	top: 25%; right: 25%; left: 25%;
	overflow: hidden;
	
	color: lighten($black, 15%);
	
	background: darken($white, 5%);
	border-radius: 5px;
	box-shadow: 0 0 100px 500px rgba(0,0,0,.75);
	
	transform-origin: top;
	transition: transform .5s, opacity .5s, box-shadow .5s .25s;

	@media (max-width: 700px){
		position: absolute;
		padding: .5em 0;
	}
}

.account--hidden{
	opacity: 0;
	box-shadow: 0 0 100px -100px transparent;
	
	transform: scale(.75) rotateX(90deg) translateY(-25%);
	transition: transform .25s .25s, opacity .25s, box-shadow .25s;
}

.account form .row {
	overflow: hidden;
	margin-bottom: 20px;
}

.account form label,
.account form input,
.account form button{
	float: left;
	padding: .5em;
	
	font-size: 1.5em;
	color: lighten($black, 10%);

	@media (max-width: 700px){
		width: 100%;
	}
}

.account form input,
.account form button{
	font-family: $openSans;
}

.account form label{
	width: 20%;
	
	font-family: $openSansCon;
	font-weight: 800;
	text-transform: uppercase;
}

.account form input{
	width: 80%;
	
	background: transparentize($black, .9);
	
	border-radius: 2px;
}

.account form input[type="password"]{
	letter-spacing: .25em;
	font-weight: 900;
}

.account .buttons{
	width: 100%;
	overflow: hidden;
}

.account form button{
	font-family: $fredoka;	
	color: $white;
	text-transform: uppercase;
	
	transition: opacity .1s;
}

.account form button:hover{
	opacity: .9;
	
	cursor: pointer;
}

.account form button[type="submit"]{
	width: 75%;
	
	background: $green;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.account form button[type="reset"]{
	width: 25%;
	
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background: $red;
}