/* _account.scss */

.account{
	overflow: hidden;
	background: $black;
}

.account .info-section h1{
	display: block;
	padding: .25em 0;
	margin-right: .5em;

	font-size: 2.75em;
	color: $white;

	text-align: right;
}

.account aside{
	position: fixed;
	left: 0;
	padding: 1em;
	float: left;
	width: 30%;
	
	text-transform: uppercase;
	text-align: right;
	
	color: $white;
	background: lighten($black, 5%);

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.account aside h1{
	padding-bottom: .5em;
	
	font-size: 1.5em;
	font-weight: 500;
	font-family: $fredoka;

	color: lighten($white, 5%);
}

.account aside li{
	padding: .15em 0;
	
	font-family: $openSansCon;
	font-size: 1.5em;
	font-weight: 800;
}

.account aside li:nth-child(1) a{ color: $yellow; }
.account aside li:nth-child(2) a{ color: $red; }
.account aside li:nth-child(3) a{ color: $blue; }
.account aside li:nth-child(4) a{ color: $green; }

.account aside li a{
	color: inherit;

	text-decoration: none;
}

.account aside li a:hover{ opacity: .9; }

.account .content{
	float: right;
	width: 70%;
	padding: 1em;

	background-color: lighten($white, 1%);
}

.account .content:first-of-type{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.account .content .heading h1{
	width: 100%;
	padding-bottom: .25em;

	border-bottom: 3px solid #aaa;
}
.account .content.details .heading h1{ border-color: lighten($yellow, 25%); }
.account .content.accounts .heading h1{ border-color: lighten($red, 25%); }
.account .content.games .heading h1{ border-color: lighten($blue, 25%); }
.account .content.settings .heading h1{ border-color: lighten($green, 25%); }

.account .details-item{
	overflow: hidden;
	margin-bottom: .25em;

	font-size: 1.25em;
}

.account .details-item .image{
	float: left;
	width: 70%;
}

.account .details-item .image img,
.account .details-item .image-info{
	float: left;
	width: 50%;
}

.account .details-item .image img{
	display: block;
}

.account .details-item .image-info{
	padding-right: .5em;
}

.account .details-item .image-info button,
.account .details-item .image-info p{
	width: 100%;
	display: block;
	padding: .5em 0;
	color: lighten($black, 15%);
	font-size: .75em;
}

.account .details-item .image-info button{
	font-family: $fredoka;
	font-weight: 100;
	text-transform: uppercase;
	border-radius: 5px;
}

.account .details-item label,
.account .details-item input,
.account .details-item textarea{
	width: 100%;
	padding: .5em;
	
	font-weight: 600;
	color: lighten($black, 10%);
}

.account .details-item label{
	float: left;
	width: 30%;	
}

.account .details-item input,
.account .details-item textarea{
	float: right;
	width: 70%;
	
	font: inherit;
	font-family: $openSans;
	color: lighten($black, 10%);

	background: lighten($black, 70%);
	border: 3px solid lighten($black, 70%);

	transition: border-color .15s;
}

.account .details-item input:focus,
.account .details-item textarea:focus{
	border-color: lighten($black, 60%);
}

.account .details-item textarea{
	resize: vertical;
	
	font-size: .75em;
}

.account .details-item p{
	width: 70%;
	float: right;
	padding: .5em;

	font-size: .5em;
	color: lighten($black, 40%);
}

.account .details-save{
	margin-top: 1em;
	padding-top: 1em;

	border-top: 2px solid lighten($black, 80%);
}

.account .details-save input{
	font-size: 1.15em;
	font-weight: 100;
	font-family: $fredoka;
	color: $white;
	text-transform: uppercase;
	
	background-color: $green;
	border: none;
	border-radius: 5px;
	
	transition: background .1s;
}

.account .details-save input:hover{
	background: lighten(saturate($green, 10%), 5%);
	
	cursor: pointer;
}

.account .accounts .details-item{
	float: left;
	width: 50%;

	@media (max-width: 700px){
		width: 100%;
	}
}

.account .accounts .details-item::before{
	content: '';
	float: left;
	margin-top: .5em;
	width: 1.75em;
	min-height: 1.75em;
	max-width: 15%;

	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 2px;
}

.account .accounts label{
	float: left;
	width: 85%;
	line-height: 1.5em;
}

.account .accounts label:hover{
	cursor: pointer;
}

$facebook-color: #3B5998;
$twitter-color: #4099FF;
$steam-color: lighten($black, 8%);
$google-color: #dd4b39;
$xbox-color: #52b043;
$psn-color: #003791;

.account .accounts .facebook::before{
	background-image: url('../../img/facebook.png');
	background-color: $facebook-color;
}

.account .accounts .twitter::before{
	background-image: url('../../img/twitter.png');
	background-color: $twitter-color;
}

.account .accounts .steam::before{
	background-image: url('../../img/steam.png');
	background-color: $steam-color;
}

.account .accounts .google::before{
	background-image: url('../../img/google.png');
	background-color: $google-color;
}

.account .accounts .xbox::before{
	background-image: url('../../img/xbox.png');
	background-color: $xbox-color;
}

.account .accounts .psn::before{
	background-image: url('../../img/psn.png');
	background-color: $psn-color;
}

.account .accounts button{
	float: right;
	font: inherit;
	color: inherit;
	
	background: $white;

	border: 2px solid;
	border-radius: 2px;
}

.account .accounts .facebook button{ color: $facebook-color; }
.account .accounts .twitter button{ color: $twitter-color; }
.account .accounts .steam button{ color: $steam-color }
.account .accounts .google button{ color: $google-color; }
.account .accounts .xbox button{ color: $xbox-color; }
.account .accounts .psn button{ color: $psn-color; }

.account .accounts button:hover{
	color: $white;

	cursor: pointer;
}

.account .accounts .facebook button:hover{
	background-color: $facebook-color;
	border-color: $facebook-color;
}

.account .accounts .twitter button:hover{
	background-color: $twitter-color;
	border-color: $twitter-color; 
}

.account .accounts .steam button:hover{
	background-color: $steam-color;
	border-color: $steam-color
}

.account .accounts .google button:hover{ 
	background-color: $google-color;
	border-color: $google-color;
}

.account .accounts .xbox button:hover{ 
	background-color: $xbox-color;
	border-color: $xbox-color;
}

.account .accounts .psn button:hover{ 
	background-color: $psn-color;
	border-color: $psn-color;
}