/* _buttons.scss */

.btn{
	display: block;
	font: inherit;
	color: inherit;
	padding: .5em;

	text-align: center;

	border: 2px solid;
	border-radius: 2px;

	transition: opacity .15s;
}

.btn--alt, .btn--primary, .btn--success, .btn--error, .btn--fill{ @extend .btn; }

.btn--default{ 	color: $black; }
.btn--alt{ 		color: $white; }
.btn--primary{ 	color: $blue; }
.btn--success{ 	color: $green; }
.btn--error{   	color: $red;   }

.btn--fill{ color: $white; }

.btn--alt--fill, .btn--primary--fill, .btn--success--fill, .btn--error--fill{ @extend .btn--fill; }

.btn--default--fill{ 	background-color: $black; border-color: $black; }
.btn--alt--fill{ 		background-color: $white; border-color: $white; }
.btn--primary--fill{ 	background-color: $blue; border-color: $blue; }
.btn--success--fill{ 	background-color: $green; border-color: $green; }
.btn--error--fill{ 		background-color: $red; border-color: $red; }

.btn:hover{
	opacity: .9;
}