/* _buttons.scss */

.btn{
	display: block;
	font: 1em;
	color: $black;
	padding: .5em;
	margin: .5em 0;

	text-align: center;

	background: none;

	border: 2px solid $black;
	border-radius: 2px;

	transition: background .25s, color .25s, border .25s;
	cursor: pointer;
}

.btn--primary{ 	color: $blue;  border-color: $blue; }
.btn--success{ 	color: $green; border-color: $green; }
.btn--error{   	color: $red;   border-color: $red; }

.btn:hover, .btn--fill{ background: $black; border-color: $black; color: $white; }

.btn--primary:hover, .btn--primary.btn--fill{ 	background: $blue; border-color: $blue; }
.btn--success:hover, .btn--success.btn--fill{ 	background: $green; border-color: $green; }
.btn--error:hover, .btn--error.btn--fill{ 		background: $red; border-color: $red; }

.btn--primary.btn--fill:hover{ 	background: lighten($blue, 10%); border-color: lighten($blue, 10%); }
.btn--success.btn--fill:hover{ 	background: lighten($green, 10%); border-color: lighten($green, 10%); }
.btn--error.btn--fill:hover{ 	background: lighten($red, 10%); border-color: lighten($red, 10%); }

.btn--small{
	font-size: .75em;
	border-width: 1px;
}

.btn--big{
	padding: .75em;
	font-size: 1.5em;
}
