/* _footer.scss */

footer{
	overflow: hidden;
	padding: 1em 0;

	background: lighten($black, 5%);
	color: darken($white, 50%);
}

footer .details{
	overflow: hidden;
	padding: 5px 0;
}

footer .copyright,
footer .upsu, footer .upgs{
	float: left;
}

footer .copyright{
	width: 70%;
	font-size: .75em;
	padding: .75em 0;
	text-align: right;
	text-transform: uppercase;

	@media (max-width: 800px){ width: 60%; }
	@media (max-width: 700px){ width: 40%; }
	@media (max-width: 400px){
		width: 100%;
		
		text-align: center;
	}
}

footer .upsu, footer .upgs{
	width: 15%;
	height: 1.75em;
	
	text-indent: -9999px;
	
	background: no-repeat;
	background-size: auto 100%;
	background-position: left center;
	
	opacity: .25;

	@media (max-width: 800px){ width: 20%; }
	@media (max-width: 700px){ width: 30%; }
	@media (max-width: 400px){
		margin-bottom: 10px; 
		width: 50%;
		background-position: center;
	}
}

footer .upsu:hover, footer .upgs:hover{
	opacity: 1;
}

footer .upsu{ background-image: url('../../img/upsu-logo.png'); }
footer .upgs{ background-image: url('../../img/logo-white.svg'); }