/* _footer.scss */

footer{
	overflow: hidden;
	padding: .5em 0;
	background:lighten($black, 5%);
	color: darken($white, 50%);
}

footer .copyright, footer .upsu, footer .upgs{
	float: left;
}

footer .copyright{
	width: 70%;
	font-size: .75em;
	padding: .75em 0;
	text-align: right;
	text-transform: uppercase;
}

footer .upsu, footer .upgs{
	width: 15%;
	height: 1.75em;
	text-indent: -9999px;
	background: no-repeat;
	background-size: auto 100%;
	background-position: left center;
	opacity: .25;
}

footer .upsu:hover, footer .upgs:hover{
	opacity: 1;
}

footer .upsu{ background-image: url('../../images/upsu-logo.png'); }
footer .upgs{ background-image: url('../../images/logo-white.svg'); }