@import 'wtf-forms';

main .input--text{
  overflow: hidden;
}

main .input--text__label,
main input,
main textarea{
  width: 100%;
  padding: .5em;
  
  color: lighten($black, 10%);
}

main .input--text__label{
  float: left;
  width: 30%;
  font-size: 1em;
  padding: 1em .5em;
}

main input,
main textarea{
  float: right;
  width: 70%;
  
  font: inherit;
  font-family: $openSans;
  color: lighten($black, 10%);
  line-height: 1;

  background: lighten($black, 70%);
  border: 3px solid lighten($black, 70%);
  border-radius: 2px;

  transition: border-color .15s;
}

main input:focus,
main textarea:focus{
  border-color: lighten($black, 60%);
}

main textarea{
  resize: vertical;
  
  font-size: .75em;
}

main .hint{
  width: 70%;
  float: right;
  padding: .5em;

  font-size: .85em;
  color: lighten($black, 40%);
}