/* _info.scss */

.info-section{
	overflow: hidden;
}

.info-section .desc{
	padding: 0 1em;
	width: 80%;
	margin: 0 auto;
	
	text-align: center;

	@media (max-width: 700px){ width: 100%; }
}

.info-section .desc h1,
.info-section .desc h2{
	font-weight: 500;
}

.info-section .desc h1{
	width: 100%;

	padding: .5em 0;
	
	font-family: $fredoka;
	font-size: 2.5em;
	color: darken($white, 5%);
	text-transform: uppercase;

	@media (max-width: 400px){ font-size: 1.5em; }
}

.info-section .desc h1 span{
	display: block;
	
	font-size: .75em;
	color: darken($white, 10%);
}

.info-section .desc h2{
	padding: .5em 2.5em;
	
	font-family: $openSans;
	font-size: 1.25em;
	color: darken($white, 10%);
	text-transform: none;

	@media (max-width: 400px){
		padding: .5em 1em;
		
		font-size: 1em;
	}
}

.info-section .desc p{
	padding-bottom: .25em;
}

.info-section .desc a{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed #333;
}

.info-section .desc a:hover{ border-bottom-color: #555; }

.info-section .join{
	margin-top: 50px;
	
	text-align: center;

	@media (max-width: 700px){ margin-top: 10px; }
}

.info-section .join.hidden{
	display: none;
}

.info-section .join p{
	padding: 1em;
	
	font-size: .8em;
}

.info-section .join a{
	width: 40%;
	margin: 0 auto;

	@media (max-width: 700px){ width: 80%; }
	
	@media (max-width: 400px){
		width: 90%;
		
		font-size: 1.35em;
	}
}