/* _nav.scss */

nav{
	width: 70%;
	padding-left: 5%;
	
	@media (max-width: 700px){
		padding: 0;
		width: 60%;
		min-height: 30px;
	}
}

nav ul{
	@media (max-width: 700px){
		position: absolute;
		top: 0; right: 10%; bottom: 0; left: 0;
		
		transition: transform .5s;
	}
}

nav ul.hidden{
	@media (max-width: 700px){ transform: translateX(-100%); }
}

nav li{
	width: 20%;	
	
	font-weight: 600;
	font-size: 1em;
	font-family: $openSansCon;
	text-align: center;
	text-transform: uppercase;

	list-style: none;
	
	@media (max-width: 700px){
		width: (100%/5);
		min-height: 30px;
		
		background: $white;
	}
}

nav li a{
	display: block;
	padding: 20px 0;
	
	color: lighten($black, 50%);
	text-decoration: none;
	
	transition: padding .1s, border .1s, color .1s;
	
	-webkit-tap-highlight-color: transparent; /* removes tap highlight on touch devices */

	@media (max-width: 700px){ padding: 15px 0; }
}

nav li a:hover{
	color: lighten($black, 60%);
	
	border-top: 5px solid;
}

nav li:nth-child(2) a:hover{ color: $yellow; }
nav li:nth-child(3) a:hover{ color: $red; }
nav li:nth-child(4) a:hover{ color: $blue; }
nav li:nth-child(5) a:hover{ color: $green; }

nav .nav-button{
	float: right;
	display: none;
	margin-top: .75em;
	padding: .25em .5em;
	
	
	font-weight: 800;
	font-family: $openSansCon;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;

	background: lighten($black, 25%);
	border-radius: 3px;
	
	cursor: pointer;
	
	transition: opacity .15s;

	@media (max-width: 700px){ display: inline-block; }
}

nav .nav-button:hover{
	opacity: .8;
}

nav .join{
	margin: 0;
	padding: .75em 0;

	@media (max-width: 700px){ display: none; }
}

nav .join a{
	width: 70%;
	
	font-size: 1em;
	
	transition: opacity .25s, transform .25s;
}

nav .join a.hidden{
	opacity: 0;
	
	transform: scale(0);
}

nav .join a:hover{
	color: $white;
	
	border-top: none;
}