/* _nav.scss */

nav{
	width: 70%;
	padding-left: 5%;
	
	@media (max-width: 700px){
		padding: 0;
		width: 60%;
		min-height: 30px;
	}
}

nav ul{
	@media (max-width: 700px){
		position: absolute;
		top: 0; right: 10%; bottom: 0; left: 0;
		transition: transform .5s;
	}
}

nav ul.hidden{
	@media (max-width: 700px){ transform: translateX(-100%); }
}

nav li{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1em;
	font-family: $openSansCon;
	width: 20%;	
	list-style: none;
	
	@media (max-width: 700px){
		background: #F4F4F4;
		width: (100%/5);
		min-height: 30px;
	}
}

nav li a{
	color: rgba(50,50,50,.5);
	padding: 20px 0;
	text-decoration: none;
	display: block;
	transition: padding .1s, border .1s, color .1s;
	
	-webkit-tap-highlight-color: transparent; /* removes tap highlight on touch devices */

	@media (max-width: 700px){ padding: 15px 0; }
}

nav li a:hover{
	border-top: 5px solid;
	color: rgba(50,50,50,.75);
}

nav li:nth-child(2) a:hover{ color: $yellow; }
nav li:nth-child(3) a:hover{ color: $red; }
nav li:nth-child(4) a:hover{ color: $blue; }
nav li:nth-child(5) a:hover{ color: $green; }

nav .nav-button{
	float: right;
	display: none;
	margin-top: .75em;
	padding: .25em .5em;
	text-align: center;
	background: rgba(129, 129, 129, 0.65);
	color: #FFF;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 800;
	font-family: $openSansCon;
	cursor: pointer;
	transition: opacity .15s;

	@media (max-width: 700px){ display: inline-block; }
}

nav .nav-button:hover{
	opacity: .8;
}

nav .join{
	margin: 0;
	padding: .75em 0;

	@media (max-width: 700px){ display: none; }
}

nav .join a{
	width: 70%;
	font-size: 1em;
	transition: opacity .25s, transform .25s;
}

nav .join a.hidden{
	opacity: 0;
	transform: scale(0);
}

nav .join a:hover{
	border-top: none;
	color: $white;
}