/* _social-links.scss */

.social-links{
	margin-bottom: 20px;
	overflow: hidden;
	
	border-radius: 2px;
}

.social-links li{
	float: left;
	width: 25%;
	
	list-style: none;
}

.social-links li a{
	display: block;
	height: 50px;
	padding: .25em 0;
	
	text-indent: -5432px;
	text-align: center;
	
	background: center no-repeat;
	background-size: auto 80%;
	
	transition: opacity .15s;
}

.social-links li .facebook{
	background-image: url('../../img/facebook.svg');
	background-color: #3B5998;
}

.social-links li .facebook:hover{
	background-color: lighten(#3B5998, 5%);
}

.social-links li .twitter{
	background-image: url('../../img/twitter.svg');
	background-color: #4099FF;
}

.social-links li .twitter:hover{
	background-color: lighten(#4099FF, 5%);
}

.social-links li .steam{
	background-image: url('../../img/steam.svg');
	background-color: lighten($black, 8%);
}

.social-links li .steam:hover{
	background-color: lighten($black, 10%);
}

.social-links li .google{
	background-image: url('../../img/google.svg');
	background-color: #dd4b39;
}

.social-links li .google:hover{
	background-color: lighten(#dd4b39, 5%);
}