@import "reset";
@import "colours";

$headerHeight: 70px;

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,300,600|Open+Sans+Condensed:300,300italic,700);

// fonts

$fredoka: 'Fredoka One', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$openSansCon: 'Open Sans Condensed', Helvetica, Arial, sans-serif;

body{
	padding-top: $headerHeight;
	font-family: $openSans;
	background: $white;

	@media (max-width: 700px){ padding-top: 0; }
}

li{ list-style-position: inside; }

.wrapper{
	padding: 0 .5em;
	width: 80%;
	margin: 0 auto;

	@media (max-width: 1200px){ width: 90%; }
	@media (max-width: 1000px){ width: 100%; }
}

header{
	backface-visibility: hidden;
	z-index: 1337;
	position: fixed;
	top: 0; left: 0; right: 0;
	overflow: hidden;

	background: transparentize($white, .025);

	transform: translateX(0);

	@media (max-width: 700px){
		position: relative;
		height: auto;
	}
}

main{
	position: relative;
}


.shapes{
	z-index: -1;
	position: absolute;
	top:0; bottom:0;
	width: 100%;
	overflow: hidden;
	
	background: darken($black, .075%);
}

.shapes div{
	position: absolute;
	left: 0; top: 0;
	height: 100%; width: 100%;
	
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 200px;
	
	opacity: 0;
	
	transform-origin: center;
}

$shapeAmount: 6;

@for $i from 1 through $shapeAmount{

	$count: $i - 1;

	.shapes div:nth-child(#{$i}){
		animation: fall-#{$i} 10s -#{$i}s linear infinite alternate;
		
		background-image: url("../../img/cross.png");
		@if($i % 2 == 0){
			background-image: url("../../img/buttons.png")
		}

	}	

	@keyframes fall-#{$i}{
		0%{ transform: translateY(-100%) translateX((100%/$shapeAmount) * $count); }
		50%{ opacity: 1; }
		100%{ transform: translateY(100%) translateX((100%/$shapeAmount) * $count); }
	}

}

.logo, nav, nav li{
	float: left; 
	min-height: $headerHeight;
}

@import "login";
@import "logo";
@import "nav";

section{
	z-index: 1;
	overflow: hidden;
	padding: .75em 0;
}

section h1,
section h2{
	display: inline-block;
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
	color: #131313;
	padding-bottom: .5em;
	
	@media (max-width: 400px){ font-size: 1.25em; }
}

section h1{ font-family: $fredoka; }

section h2{ font-family: $openSansCon; }

section p{
	padding-bottom: 1em;

	line-height: 1.25;
}

.info-section,
.games-section{
	color: $white;
}

.join a{
	display: block;
	padding: .5em;
	
	font-family: $fredoka;
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
	
	background: saturate($green, 10%);
	border-radius: 2px;
	
	transition: background .1s;
}

.join a:hover{
	background: lighten(saturate($green, 10%), 5%);
	
	cursor: pointer;
}

@import 'info';

.events-section{
	background: darken($white, 2.5%)
}

.events{
	float: left;
	width: 50%;
	padding-right: 1em;

	
	@media (max-width: 400px){
		margin-bottom: 10px;
		width: 100%;
	}
}

.events p{
	padding-bottom: .5em;
}

.events p em{ font-style: italic; }
.events p strong{ font-weight: 600; }

.current-event{
	list-style: none;
}

.current-event li{
	padding: .25em 0;
	border-bottom: 2px solid #ddd;
}

.current-event li:last-child{ border: 0; }

@import 'social';
@import 'games';
@import 'servers';

@import 'footer';
@import 'cookie-banner';

@import 'account';