@import "reset";
@import "colours";

// fonts

$fredoka: 'Fredoka One', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$openSansCon: 'Open Sans Condensed', Helvetica, Arial, sans-serif;

@import 'buttons';
@import 'typography';
@import 'forms';

body{
	font-family: $openSans;
	background: $white;
}

a{ text-decoration: none; }

li{ list-style-position: inside; }

.wrapper{
	padding: 0 .5em;
	width: 85%;
	margin: 0 auto;

	@media (max-width: 1200px){ width: 90%; }
	@media (max-width: 1000px){ width: 100%; }
}

header{
	backface-visibility: hidden;
	z-index: 1337;
	position: fixed;
	top: 0; left: 0; right: 0;
	overflow: hidden;

	background: transparentize($white, .025);

	transform: translateX(0);

	@media (max-width: 700px){
		position: absolute;
	}
}

main{
	position: relative;
}

@import "login";
@import "logo";
@import "nav";

section{
	z-index: 1;
	overflow: hidden;
	padding: .75em 0;
}

section h1,
section h2{
	display: inline-block;
	margin: 0;
	padding-bottom: .5em;
	
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
	color: #131313;
	
	@media (max-width: 400px){ font-size: 1.25em; }
}

section h1{ font-family: $fredoka; }

section h2{ font-family: $openSansCon; }

section p{
	padding-bottom: 1em;

	line-height: 1.25;
}

.info-section,
.games-section{
	background: $black;
	color: $white;
}

@import 'join';

@import 'info';

@import 'social-links';
@import 'games';
@import 'servers';

@import 'footer';
@import 'cookie-banner';

@import 'account';
@import 'profile';

.component{
	padding: 1em 0;
}