@import "reset";
@import "colours";

$headerHeight: 70px;

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,300,600|Open+Sans+Condensed:300,300italic,700);

// fonts

$fredoka: 'Fredoka One', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$openSansCon: 'Open Sans Condensed', Helvetica, Arial, sans-serif;

body{
	padding-top: $headerHeight;
	font-family: $openSans;
	background: $white;
}

li{ list-style-position: inside; }

.wrapper{
	padding: 0 .5em;
	width: 70%;
	margin: 0 auto;
}

header{
	z-index: 9001;
	position: fixed;
	top: 0; left: 0; right: 0;
	overflow: hidden;
	background: transparentize($white, .025);

	transform: translateX(0);
}

.logo, nav, nav li{
	float: left; 
	min-height: $headerHeight;
}

@import "account";
@import "logo";
@import "nav";

section{
	overflow: hidden;
	padding: .75em 0;
}

section h2{
	color: #131313;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.5em;
	padding-bottom: .5em;
	font-family: $fredoka;
}

section h2 span{
	font-family: $openSansCon;
	font-weight: 500;
}

.info-section,
.games-section{
	color: $white;
	background: $black;
}

.join a{
	display: block;
	padding: .5em;
	font-family: $fredoka;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5em;
	color: $white;
	background: saturate($green, 10%);
	border-radius: 2px;
	transition: background .1s;
}

.join a:hover{
	background: lighten(saturate($green, 10%), 5%);
	cursor: pointer;
}

.info-section{
	position: relative;
	overflow: hidden;
	background: rgba(24,24,24,.95);
}

.info-section .join{
	text-align: center;
	margin-top: 50px;
}

.info-section .join p{
	font-size: .8em;
	padding: 1em;
}

.info-section .join a{
	width: 40%;
	margin: 0 auto;
}

.info-section .shapes{
	z-index: -1;
	position: absolute;
	top:0; right:0; bottom:0; left:0;
}

.info-section .shapes div{
	width: 90px;
	height: 90px;
	background: url("../../img/logo.svg") no-repeat;
	position: absolute;
}

@for $i from 1 through 12{

	.info-section .shapes div:nth-child(#{$i}){
		@if $i % 3 == 0{ animation: fall-1 3s linear infinite; }
		@if $i % 3 == 1{ animation: fall-2 4s linear infinite; }
		@if $i % 3 == 2{ animation: fall-3 5s linear infinite; }
	}

}

@keyframes fall-1{
	0%{ transform: translateX(600px) translateY(-150px); }
	100%{ transform: translateX(600px) translateY(400px) ; }
}

@keyframes fall-2{
	0%{ transform: translateX(350px) translateY(-150px) rotate(20deg); }
	100%{ transform: translateX(550px) translateY(400px) rotate(120deg); }
}

@keyframes fall-3{
	0%{ transform: translateX(850px) translateY(-150px) rotate(15deg); }
	100%{ transform: translateX(650px) translateY(400px) rotate(-115deg); }
}

.desc{
	padding: 0 1em;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.desc h1, .desc h2{
	font-weight: 500;
}

.desc h1{
	padding: .5em 0;
	text-transform: uppercase;
	font-family: $fredoka;
	color: #F1F1F1;
	font-size: 3em;
}

.desc h2{
	font-size: 1.25em;
	padding: .5em 2.5em;
	text-transform: none;
	font-family: $openSans;
	color: #E9E9E9;
}

.desc p{
	padding-bottom: .25em;
}

.events{
	float: left;
	width: 30%;
	padding-right: 1em;
}

.events p{
	padding-bottom: .5em;
}

.events p em{ font-style: italic; }
.events p strong{ font-weight: 600; }

.current-event{
	list-style: none;
}

.current-event li{
	padding: .25em 0;
	border-bottom: 2px solid #ddd;
}

.current-event li:last-child{ border: 0; }

@import "social";

.games-section h2{
	color: $white;
}

.games-section .more{
	border-radius: 2px;
	font-size: .8em;
	padding: .25em .5em;
	margin-right: 1%;
	color: $white;
	text-align: center;
	text-decoration: none;
	float: right;
	background: #353535;
}

.games-section .more:hover{ background: #424242; }

.games-section .games{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.games-section .game{
	display: block;
	position: relative;
	float: left;
	width: 16.66%;
	padding-right: 1%;
	list-style: none;
	color: $white;
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
}

.games-section .game h3{
	font-family: $openSansCon;
	font-weight: 700;
}

.games-section .game:hover{ cursor: pointer; }

.games-section .game .boxart{
	width: 100%;
	border-radius: 2px;
}

.games-section .game:hover .boxart{ opacity: .75; }

.game-selected:hover{
	opacity: 1;
	cursor: default;
}

.game-unselected{
	opacity: .5; 
	-webkit-filter: grayscale(1);
			filter: grayscale(1);
}

.servers-section .server{
	overflow: hidden;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.servers-section .server:last-child{ border: none; }

.servers-section .server .server-logo,
.servers-section .server p,
.servers-section .server .players,
.servers-section .server .ip-address{	
	float: left;
	width: 25%;
	padding: 1em;
	font-size: 1em;
}

.servers-section .server .server-logo{
	text-indent: -9999px;
	background: no-repeat 2px center;
	background-size: 75%;
}

.servers-section .server .minecraft{ background-image: url('../../img/minecraft.png'); }
.servers-section .server .teamspeak{ background-image: url('../../img/teamspeak.png'); }

.servers-section .server .server-logo.online{
	-webkit-filter: drop-shadow(0 2px 0 lighten($green, 15%)) drop-shadow(0 -2px 0 lighten($green, 15%))
					drop-shadow(2px 0 0 lighten($green, 15%)) drop-shadow(-2px 0 0 lighten($green, 15%));
			filter: drop-shadow(0 2px 0 lighten($green, 15%)) drop-shadow(0 -2px 0 lighten($green, 15%))
					drop-shadow(2px 0 0 lighten($green, 15%)) drop-shadow(-2px 0 0 lighten($green, 15%));
}

.servers-section .server .server-logo.offline{
	-webkit-filter: drop-shadow(0 2px 0 lighten($red, 15%)) drop-shadow(0 -2px 0 lighten($red, 15%))
					drop-shadow(2px 0 0 lighten($red, 15%)) drop-shadow(-2px 0 0 lighten($red, 15%));
			filter: drop-shadow(0 2px 0 lighten($red, 15%)) drop-shadow(0 -2px 0 lighten($red, 15%))
					drop-shadow(2px 0 0 lighten($red, 15%)) drop-shadow(-2px 0 0 lighten($red, 15%));
}

.servers-section .server .server-logo.unknown{
	-webkit-filter: drop-shadow(0 2px 0 lighten(#666, 15%)) drop-shadow(0 -2px 0 lighten(#666, 15%))
					drop-shadow(2px 0 0 lighten(#666, 15%)) drop-shadow(-2px 0 0 lighten(#666, 15%));
			filter: drop-shadow(0 2px 0 lighten(#666, 15%)) drop-shadow(0 -2px 0 lighten(#666, 15%))
					drop-shadow(2px 0 0 lighten(#666, 15%)) drop-shadow(-2px 0 0 lighten(#666, 15%));
}

.servers-section .server .status{
	text-transform: uppercase;
	font-weight: 700;
}

.servers-section .server .status.online{  color: $green;  }
.servers-section .server .status.offline{ color: $red;  }
.servers-section .server .status.unknown{ color: #666;  }

.servers-section .server .players{
	padding: 0 1em;
	overflow: hidden;
}

.servers-section .players li{
	padding: 1em;
	font-weight: bold;
	font-size: .85em;
	color: #333;
	text-align: center;
}

.servers-section .players li span{ font-weight: normal; }

.servers-section .players .avatar{
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	margin: 4px;
	width: 32px;
	height: 32px;
	background: url('../img/steve.png');
	background-repeat: no-repeat;
	transition: opacity .15s, transform .25s, background .15s;
	transform-origin: center;
}

.servers-section .players .avatar-hidden{
	opacity: 0;
	transform: scale(0) rotate(180deg);
}

.servers-section .players .avatar:hover{ cursor: help; }

.servers-section .players .avatar::after{
	z-index: 9999;
	content: attr(data-name);
	position: absolute;
	display: block;
	padding: 10px;
	line-height: 10px;
	text-indent: 0;
	text-align: center;
	color: #E4E4E4;
	font-weight: 500;
	background: #1D1D1D;
	transform: translateY(-5px);
	border-radius: 5px;
	border-top-left-radius: 0;
	opacity: 0;
	transition: opacity .25s, transform .5s;
}

.servers-section .players .avatar:hover::after{
	transition: opacity .15s, transform .25s;
	transform: translateY(5px);
	opacity: 1;
}

.servers-section .server .ip-address{
	margin-top: .5em;
	padding-bottom: 0;
	background: $black;
	border-radius: 2px;
	color: $white;
	font-family: monospace;
	font-weight: 800;
	font-size: .8em;
	text-align: center;
	resize: none;
	overflow: hidden;
}

.cookie-banner{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(124,88,63,.95);
	padding: 0 1em;
}

.cookie-banner p{
	padding: .75em;
	padding-left: 2.5em;
	font-size: .8em;
	color: $white;
	background: url('../img/info.png') no-repeat left;
}

.cookie-banner a{
	color: lighten($green, 10%);
	text-decoration: none;
	font-weight: 700;
}

.cookie-banner a:hover{ opacity: .9; }

.cookie-banner button.close{
	float: right;
	margin-top: .25em;
	padding: .5em;
	color: $white;
	font-weight: 500;
	font-family: $fredoka;
	background: rgba(255,255,255,.2);
	border-radius: 2px;
}

.cookie-banner button.close:hover{ background: rgba(255,255,255,.15); cursor: pointer; }

@media all and (max-width: 1200px){
	.wrapper{ width: 80%; }
}

@media all and (max-width: 1000px){
	.wrapper{ width: 90%; }
}

@media all and (max-width: 800px){
	.wrapper{ width: 100%; }
}

@media all and (max-width: 700px){

	body{ padding-top: 0; }

	header{
		position: relative;
		height: auto;
	}
	
	.logo{
		width: 40%;
		font-size: 2em;
		line-height: 30px;
	}

	.logo, nav, nav li{
		min-height: 30px;
	}

	.logo::before, .logo::after{
		width: 30px;
		height: 30px;
	}
	
	nav{
		padding: 0;
		width: 60%;
	}

	nav ul{
		position: absolute;
		top: 0; right: 10%; bottom: 0; left: 0;
		transition: transform .5s;
	}

	nav ul.hidden{
		transform: translateX(-100%);
	}

	nav li.join{ display: none; }

	nav li{
		background: #F4F4F4;
		width: (100%/5);
	}

	nav li a{
		padding: 15px 0;
	}

	nav .nav-button{
		display: inline-block;
	}

	.account{
		position: absolute;
	}

	.account .buttons, .account form label, .account form input{
		width: 100%;
		float: none;
	}

	.account form label{
		padding: 0;
	}

	.info-section .join{ margin-top: 10px; }

	.info-section .join a{ width: 80%; }

	.desc{ width: 100%; }

	.events{
		margin-bottom: 25px;
		width: 50%;
	}

	.social{
		float: none;
		width: 100%;
	}

	.social li{
		width: 25%;
	}

	.games-section .game{
		width: (100%/5);
	}

	.games-section .game:nth-child(n+6){
		display: none;
	}

}

@media all and (max-width: 400px){

	section h2 span{
		font-size: .65em;
	}

	.games-section .game{
		width: (100%/3);
	}

	.games-section .game:nth-child(n+4){
		display: none;
	}

}
