// logo colours

$cross: #323232;
$red: #AF4120;
$green: #939740;
$blue: #4C79BA;
$yellow: #F2A216;

// standard colours

$white: #F4F4F4;
$black: #181818;

$headerHeight: 70px;

// fonts

$fredoka: 'Fredoka One', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$openSansCon: 'Open Sans Condensed', Helvetica, Arial, sans-serif;

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,300,600|Open+Sans+Condensed:300,300italic,700);

*{
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box; /* box sizes including both padding and borders */
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

li{ list-style-position: inside; }

body{
	padding-top: $headerHeight;
	font-family: $openSans;
	background: $white;
	transition: height 1s;
}

input, textarea, button{
	border: none;
	outline: none;
}


header{
	z-index: 9001;
	position: fixed;
	top: 0; left: 0; right: 0;
	overflow: hidden;
	background: transparentize($white, .025);

	-webkit-transform: translateX(0);
			transform: translateX(0);
}

.logo, nav, nav li{
	float: left; 
	min-height: $headerHeight;
}

/* old normal background version of logo

.logo{
	width: 35%;
	padding: 20px;
	text-indent: -54321px;
	background: url('../img/logo.svg') no-repeat center left;
	background-origin: content-box;
	background-size: 70%;
}

*/

header a{ color: $black; }

.account{
	overflow: hidden;
	display: none;
	background: darken($white, 5%);
	padding: 1em 0;
	color: $white;
}

.account form .row {
	overflow: hidden;
	margin-bottom: 20px;
}

.account form label,
.account form input,
.account form button{
	float: left;
	font-size: 1.5em;
	padding: .5em;
	color: lighten($black, 10%);
}

.account form input,
.account form button{
	font-family: $openSans;
}

.account form label{
	width: 20%;
	text-transform: uppercase;
	font-family: $openSansCon;
	font-weight: 800;
}

.account form input{
	width: 80%;
	border-radius: 2px;
	background: rgba(0,0,0,.1);
}

.account form input[type="password"]{
	letter-spacing: .25em;
	font-weight: 900;
}

.account .buttons{
	overflow: hidden;
	width: 80%;
	float: right;
}

.account form button{
	text-transform: uppercase;
	color: $white;
	font-family: $fredoka;	
	transition: opacity .1s;
}

.account form button:hover{
	opacity: .9;
	cursor: pointer;
}

.account form button[type="submit"]{
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	background: $green;
	width: 75%;
}

.account form button[type="reset"]{
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background: $red;
	width: 25%;
}

.logo{
	width: 30%;
	padding: 10px 20px;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	font-weight: 500;
	font-family: $fredoka;
	color: $black;
	white-space: nowrap;
	-webkit-transition: letter-spacing .5s .25s, color .15s .25s;
			transition: letter-spacing .5s .25s, color .15s .25s;
}

.logo::before,
.logo::after{
	content: '+';
	display: inline-block;
	width: 43px;
	height: 45px;
	color: transparent;
	background: url('../img/logo.svg') no-repeat;
	background-size: cover;

	-webkit-transition: all .5s;
			transition: all .5s;

	-webkit-transform-origin: 50%;  /* ensures they spin from the center */
			transform-origin: 50%;
}

.logo::before{ background-position: left; }
.logo::after{ background-position: right; }

.logo-animation,
.logo:hover{
	letter-spacing: -.75em;
	color: transparent;
}

.logo-animation::before, .logo:hover::before{
	-webkit-transform: rotateZ(180deg);
			transform: rotateZ(180deg);
}

.logo-animation::after, .logo:hover::after{
	-webkit-transform: rotateZ(-180deg);
			transform: rotateZ(-180deg);
}

.logo:active::before{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
.logo:active::after{ -webkit-transform: rotateZ(-360deg); transform: rotateZ(-360deg); }

nav{
	width: 70%;
	padding-left: 5%;
}

nav li{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1em;
	font-family: $openSansCon;
	width: 20%;	
	list-style: none;
}

nav li a{
	color: rgba(50,50,50,.5);
	padding: 20px 0;
	text-decoration: none;
	display: block;
	-webkit-tap-highlight-color: transparent; /* removes tap highlight on touch devices */

	-webkit-transition: padding .1s, border .1s, color .1s;
			transition: padding .1s, border .1s, color .1s;
}

nav li a:hover{
	border-top: 5px solid;
	color: rgba(50,50,50,.75);
}

nav li:nth-child(2) a:hover{ color: $yellow; }
nav li:nth-child(3) a:hover{ color: $red; }
nav li:nth-child(4) a:hover{ color: $blue; }
nav li:nth-child(5) a:hover{ color: $green; }

section{
	overflow: hidden;
	padding: 1em 0 25px;
}

section h2{
	color: #131313;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.5em;
	padding-bottom: .5em;
	font-family: $fredoka;
}

section h2 span{
	font-family: $openSansCon;
	font-weight: 500;
}

.info-section{ padding: 0; }

.social{
	float: left;
	width: 40%;
}

.social li{
	float: left;
	margin-bottom: 10px;
	padding: 0 10px;
	list-style: none;
}

.social li a{
	height: 75px;
	display: block;
	text-indent: -5432px;
	text-align: center;
	padding: .25em 0;
	border-radius: 2px;
	background: center no-repeat;
	background-size: 50%;
	transition: opacity .15s;
}

.social li .facebook{
	background-image: url('../img/facebook.svg');
	background-color: #3B5998;
}

.social li .facebook:hover{
	background-color: lighten(#3B5998, 5%);
}

.social li .twitter{
	background-image: url('../img/twitter.svg');
	background-color: #4099FF;
}

.social li .twitter:hover{
	background-color: lighten(#4099FF, 5%);
}

.social li .steam{
	background-image: url('../img/steam.svg');
	background-color: lighten($black, 5%);;
}

.social li .steam:hover{
	background-color: lighten($black, 7%);
}

.social li .google{
	background-image: url('../img/google.svg');
	background-color: #dd4b39;
}

.social li .google:hover{
	background-color: lighten(#dd4b39, 5%);
}

.desc{
	text-align: center;
}

.desc h1, .desc h2{
	font-weight: 500;
}

.desc h1{
	padding: .5em 5em;
	text-transform: uppercase;
	font-family: $fredoka;
	color: #E4E4E4;
	font-size: 3em;
}

.desc h2{
	font-size: 1.25em;
	padding: .5em 2.5em;
	text-transform: none;
	font-family: $openSans;
	color: #CECECE;
}

.desc p{
	padding-bottom: .25em;
}

.events{
	float: left;
	width: 30%
}

.events p{
	padding-bottom: .5em;
}

.current-event{
	list-style: none;
}

.current-event li{
	padding: .25em 0;
	border-bottom: 2px solid #ddd;
}

.current-event li:last-child{ border: 0; }

.join{
	text-align: center;
	margin-top: 50px;
}

nav .join{
	margin: 0;
	padding: 15px 0;
}

nav .join button{
	display: none;
	width: 70%;
	font-size: 1em;
}

.join p{
	font-size: .8em;
	padding: 1em;
}

.join button{
	width: 40%;
	margin: 0 auto;
	display: block;
	background: saturate($green, 10%);
	padding: .5em;
	font-family: $fredoka;
	text-transform: uppercase;
	font-size: 1.5em;
	color: $white;
	border-radius: 2px;
	transition: background .1s;
}

.join button:hover{
	background: lighten(saturate($green, 10%), 5%);
	cursor: pointer;
}

.info-section,
.games-section{
	color: $white;
	background: $black;
}

.games-section h2{
	color: $white;
}

.games-section .more{
	border-radius: 2px;
	font-size: .8em;
	padding: .25em .5em;
	color: $white;
	text-align: center;
	text-decoration: none;
	float: right;
	background: #353535;
}

.games-section .more:hover{ background: #424242; }

.games-section .games{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.games-section .game{
	display: block;
	position: relative;
	float: left;
	width: 16.66%;
	padding-right: 1%;
	list-style: none;
	color: $white;
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
}

.games-section .game h3{
	font-family: $openSansCon;
	font-weight: 700;
}

.games-section .game:hover{ cursor: pointer; }

.games-section .game .boxart{
	width: 100%;
	border-radius: 2px;
}

.games-section .game:hover .boxart{ opacity: .75; }

.game-selected:hover{ opacity: 1; cursor: default; }

.game-unselected{
	opacity: .5; 
	-webkit-filter: grayscale(1);
			filter: grayscale(1);
}

.servers-section{}

.servers-section .server{
	overflow: hidden;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.servers-section .server:last-child{ border: none; }

.servers-section .server .server-logo,
.servers-section .server p,
.servers-section .server .ip-address{	
	padding: 1em;
	float: left;
	font-size: 1em;
}

.servers-section .server .server-logo{
	width: 30%;
	text-indent: -9999px;
	background: no-repeat 2px center;
	background-size: 75%;
}

.servers-section .server .minecraft{ background-image: url('../img/minecraft.png'); }
.servers-section .server .teamspeak{ background-image: url('../img/teamspeak.png'); }

.servers-section .server .server-logo.online{
	-webkit-filter: drop-shadow(0 2px 0 lighten($green, 15%)) drop-shadow(0 -2px 0 lighten($green, 15%))
					drop-shadow(2px 0 0 lighten($green, 15%)) drop-shadow(-2px 0 0 lighten($green, 15%));
}

.servers-section .server .server-logo.offline{
	-webkit-filter: drop-shadow(0 2px 0 lighten($red, 15%)) drop-shadow(0 -2px 0 lighten($red, 15%))
					drop-shadow(2px 0 0 lighten($red, 15%)) drop-shadow(-2px 0 0 lighten($red, 15%));
}

.servers-section .server .server-logo.unknown{
	-webkit-filter: drop-shadow(0 2px 0 lighten(#666, 15%)) drop-shadow(0 -2px 0 lighten(#666, 15%))
					drop-shadow(2px 0 0 lighten(#666, 15%)) drop-shadow(-2px 0 0 lighten(#666, 15%));
}

.servers-section .server p{
	width: 30%;
}

.servers-section .server .status{
	width: 15%;
	text-transform: uppercase;
	font-weight: 700;
}

.servers-section .server .status.online{  color: $green;  }
.servers-section .server .status.offline{ color: $red;  }
.servers-section .server .status.unknown{ color: #666;  }

.servers-section .server .ip-address {
	width: 25%;
	margin-top: .5em;
	padding-bottom: 0;
	background: $black;
	border-radius: 2px;
	color: $white;
	font-family: monospace;
	font-weight: 800;
	font-size: .8em;
	text-align: center;
	resize: none;
	overflow: hidden;
}

.cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(124,88,63,.95);
}

.cookie-banner p{
	padding: .75em;
	padding-left: 2.5em;
	font-size: .8em;
	color: $white;
	background: url('../img/info.png') no-repeat left;
}

.cookie-banner a{
	color: lighten($green, 10%);
	text-decoration: none;
	font-weight: 700;
}

.cookie-banner a:hover{ opacity: .9; }

.cookie-banner button.close{
	float: right;
	margin-top: .25em;
	padding: .5em;
	color: $white;
	font-weight: 500;
	font-family: $fredoka;
	background: rgba(255,255,255,.2);
	border-radius: 2px;
}

.cookie-banner button.close:hover{ background: rgba(255,255,255,.15); cursor: pointer; }

@media all and (max-width: 700px){

	body{ padding: 0; }

	header{ height: auto; position: relative; }
	
	.logo{ background: rgba(50,50,50,.01);	}
	
	.logo, nav{
		width: 100%;
	}

	nav{ padding: 0; }

	section{ padding: 1em; }

	.info-section .social li{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}

}

@media all and (max-width: 400px){

	nav li{
		font-size: 1em;
	}

}
