@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,300,600|Open+Sans+Condensed:300,300italic,700);
/* fonts */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* box sizes including both padding and borders */
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

li {
  list-style-position: inside; }

body {
  height: 10000px;
  padding-top: 70px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #f4f4f4; }

.wrap {
  width: 75%;
  margin: 0 auto; }

header {
  z-index: 9001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #f4f4f4;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.logo, nav, nav li {
  float: left;
  min-height: 70px; }

/* old normal background version of logo

.logo{
	width: 35%;
	padding: 20px;
	text-indent: -54321px;
	background: url('../img/logo.svg') no-repeat center left;
	background-origin: content-box;
	background-size: 70%;
}

*/
header a {
  color: #181818; }

.account {
  overflow: hidden;
  display: none;
  background: #B97395;
  padding: .5em 0;
  color: #f4f4f4; }

.account form {
  float: right; }

.account form label {
  text-transform: uppercase;
  font-size: .8em;
  padding: 0 .5em; }

.account form label,
.account form input {
  padding: .25em; }

.account form input {
  border: none; }

.logo {
  width: 30%;
  padding: 10px 20px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  font-weight: 500;
  font-family: "Fredoka One", Helvetica, Arial, sans-serif;
  color: #181818;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: letter-spacing .5s .25s, color .15s .25s;
  transition: letter-spacing .5s .25s, color .15s .25s; }

.logo::before,
.logo::after {
  content: '+';
  display: inline-block;
  width: 43px;
  height: 45px;
  color: transparent;
  background: url("../img/logo.svg") no-repeat;
  background-size: cover;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50%;
  /* ensures they spin from the center */
  transform-origin: 50%; }

.logo::before {
  background-position: left; }

.logo::after {
  background-position: right; }

.logo-animation,
.logo:hover {
  letter-spacing: -.75em;
  color: transparent; }

.logo-animation::before, .logo:hover::before {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg); }

.logo-animation::after, .logo:hover::after {
  -webkit-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg); }

.logo:active::before {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg); }

.logo:active::after {
  -webkit-transform: rotateZ(-360deg);
  transform: rotateZ(-360deg); }

nav {
  width: 70%;
  padding-left: 5%; }

nav li {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  width: 25%;
  list-style: none; }

nav li a {
  color: rgba(50, 50, 50, 0.5);
  padding: 20px 0;
  text-decoration: none;
  display: block;
  -webkit-tap-highlight-color: transparent;
  /* removes tap highlight on touch devices */
  -webkit-transition: padding .1s, border .1s, color .1s;
  transition: padding .1s, border .1s, color .1s; }

nav li a:hover {
  border-top: 5px solid;
  color: rgba(50, 50, 50, 0.75); }

nav li:nth-child(1) a:hover {
  color: #f2a216; }

nav li:nth-child(2) a:hover {
  color: #af4120; }

nav li:nth-child(3) a:hover {
  color: #4c79ba; }

nav li:nth-child(4) a:hover {
  color: #939740; }

section {
  overflow: hidden;
  padding: 1em 0 25px; }

section h2 {
  color: #131313;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: .5em;
  font-family: "Fredoka One", Helvetica, Arial, sans-serif; }

.info-section .desc, .info-section .social {
  float: left; }

.info-section .desc {
  width: 60%; }

.info-section .social {
  width: 40%; }

.info-section .social li {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  list-style: none; }

.info-section .social li a {
  height: 50px;
  display: block;
  text-indent: -5432px;
  text-align: center;
  padding: .25em 0;
  border-radius: 2px;
  background: center no-repeat;
  background-size: 50%;
  transition: opacity .15s; }

.info-section .social li .facebook {
  background-image: url("../img/facebook.svg");
  background-color: #3B5998; }

.info-section .social li .facebook:hover {
  background-color: #4264aa; }

.info-section .social li .twitter {
  background-image: url("../img/twitter.svg");
  background-color: #4099FF; }

.info-section .social li .twitter:hover {
  background-color: #5aa7ff; }

.info-section .social li .steam {
  background-image: url("../img/steam.svg");
  background-color: #252525; }

.info-section .social li .steam:hover {
  background-color: #2a2a2a; }

.info-section .desc p {
  padding-bottom: .25em; }

.events {
  float: left;
  width: 30%; }

.join {
  float: left;
  width: 40%;
  text-align: center;
  padding: 0 10px; }

.join p {
  font-size: .8em;
  padding: 1em; }

.join button {
  width: 100%;
  border: none;
  display: block;
  background: #9da235;
  padding: .5em 0;
  font-family: "Fredoka One", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #f4f4f4;
  border-radius: 2px;
  transition: background .1s; }

.join button:hover {
  background: #afb53c;
  cursor: pointer; }

.info-section,
.games-section {
  color: #f4f4f4;
  background: #323232; }

.games-section h2 {
  color: #f4f4f4; }

.games-section h2 span {
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 500; }

.games-section .more {
  border-radius: 2px;
  font-size: .8em;
  padding: .25em .5em;
  color: #f4f4f4;
  text-align: center;
  text-decoration: none;
  float: right;
  background: #353535; }

.games-section .more:hover {
  background: #424242; }

.games-section .game {
  display: block;
  position: relative;
  float: left;
  width: 16.66%;
  padding: 0 1%;
  list-style: none;
  color: #f4f4f4;
  font-size: .8em;
  text-transform: uppercase;
  text-align: center; }

.games-section .game h3 {
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700; }

.games-section .game:hover {
  cursor: pointer; }

.games-section .game .boxart {
  width: 100%;
  border-radius: 2px; }

.games-section .game:hover .boxart {
  opacity: .75; }

.game-selected:hover {
  opacity: 1;
  cursor: default; }

.game-unselected {
  opacity: .5;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(124, 88, 63, 0.95); }

.cookie-banner p {
  padding: .75em;
  padding-left: 2.5em;
  font-size: .8em;
  color: #f4f4f4;
  background: url("../img/info.png") no-repeat left; }

.cookie-banner a {
  color: #b2b654;
  text-decoration: none;
  font-weight: 700; }

.cookie-banner a:hover {
  opacity: .9; }

.cookie-banner button.close {
  float: right;
  margin-top: .25em;
  padding: .5em;
  border: none;
  outline: none;
  color: #f4f4f4;
  font-family: "Fredoka One", Helvetica, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px; }

.cookie-banner-hide {
  display: none; }

.cookie-banner button.close:hover {
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer; }

@media all and (max-width: 1000px) {
  .wrap {
    width: 85%; } }
@media all and (max-width: 700px) {
  body {
    padding: 0; }

  .wrap {
    width: 100%; }

  header {
    height: auto;
    position: relative; }

  .logo {
    background: rgba(50, 50, 50, 0.01); }

  .logo, nav {
    width: 100%; }

  nav {
    padding: 0; }

  section {
    padding: 1em; } }
@media all and (max-width: 400px) {
  nav li {
    font-size: 1em; } }
