/*
	red: #AF4120
	green: #939740
	blue: #4C79BA
	yellow: #F2A216
*/

@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,300,600|Open+Sans+Condensed:300,300italic,700);

*{
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

body{ font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

header{
	overflow: hidden;
	background: #F0F0F0;
}

header, #logo, nav li a{ height: 70px; }

#logo, nav, nav li{ float: left; }

#logo{
	width: 25%;

	/*	
	padding: 20px;
	text-indent: -54321px;
	background: url('../img/logo.svg') no-repeat center;
	background-origin: content-box;
	background-size: 100%;
	*/

	padding: 10px 20px;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	font-weight: 500;
	font-family: 'Fredoka One', Helvetica, Arial, sans-serif;
	color: #181818;
	-webkit-transition: letter-spacing .5s, color .15s;
}

#logo::before,
#logo::after{
	content: '';
	display: inline-block;
	width: 45px;
	height: 45px;
	background: bottom center no-repeat;
	background-size: 100%;
	-webkit-transition: all .5s;
	-webkit-transform-origin: 50% 50%;
}

#logo::before{ background-image: url('../img/logo-cross.svg'); }
#logo::after{ background-image: url('../img/logo-buttons.svg'); }

#logo:hover{
	letter-spacing: -.75em;
	color: transparent;
}

#logo:hover::before{ -webkit-transform: rotateZ(180deg); }
#logo:hover::after{	-webkit-transform: rotateZ(-180deg); }

nav{
	padding-left: 10%;
	width: 75%;
}

nav li{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
	width: 25%;
	list-style: none;
}

nav li a{
	color: rgba(50,50,50,.5);
	padding: 20px 0;
	text-decoration: none;
	display: block;
	-webkit-transition: padding .1s, border .1s, color .1s;
}

nav li a:hover{
	border-bottom: 1px solid;
	color: rgba(50,50,50,.75);
	padding: 25px 0 15px;
}

nav li:nth-child(1) a:hover{ color: #F2A216 }
nav li:nth-child(2) a:hover{ color: #AF4120; }
nav li:nth-child(3) a:hover{ color: #4C79BA; }

nav #signup-button{ color: #939740; }