<footer>
<div class="wrapper">
	<div class="details">
		<a class="upgs" href="./">UPGS</a>
		<a class="upsu" href="http://upsu.net/">UPSU</a>
		<p class="copyright">&copy; 2014 University of Portsmouth Gaming Society</p>
	</div>
</div>
</footer>

{{!-- <div class="cookie-banner">
	<p>This page uses <a href="http://en.wikipedia.org/wiki/HTTP_cookie">cookies</a>. </p>
	<button class="close">Go away&hellip;</button>
</div> --}}