<header {{#if loggedin}}class="logged-in"{{/if}}>
<div class="wrapper">
		
	<a href="/" class=""><h1 class="logo logo-animation">UPGS</h1></a>
	<nav>
		<ul class="nav-links nav-links--hidden">
			{{#unless loggedin}}
			<li class="join join--hidden">
				<a class="btn btn--fill btn--success" href="http://www.upsu.net/store/product/583-gaming-society-membership-2013-14/">Join!</a>
			</li>
			{{/unless}}
			<li class="nav-link"><a href="#events">Events</a></li>
			<li class="nav-link"><a href="#games">Games</a></li>
			<li class="nav-link"><a href="#servers">Servers</a></li>
			{{#if loggedin}}
				<li class='nav-link log-in--logged-in'>
					<a href="/account">
						<img src="http://lorempizza.com/32/32" alt="{{user.username}}'s profile image">
						{{ user.username }}
					</a>
				</li>
				<li class="nav-link log-out"><a href="/logout">Logout</a></li>
			{{else}}
				<li class="nav-link log-in">
					<a href="#login">Log-in</a>
				</li>
			{{/if}}
		</ul>
		<div class="nav-button">Nav</div>
	</nav>

</div>
</header>