<div class="login login--hidden">	
	<form action="/login">
		<div class="row">
			<label>Username</label><input type="text" name="user">
			<p class="hint">Not a member? <a href="http://www.upsu.net/store/product/583-gaming-society-membership-2013-14/">Sign up</a></p>
		</div>
		<div class="row">
			<label>Password</label><input type="password" name="pass">
			<p class="hint"><a href="#">Forgot your password?</a></p>
		</div>
		<div class="buttons">
			<button type="reset">Nah</button>
			<button type="submit">Ok log me in!</button>
		</div>
	</form>
</div>
