<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A place within Portsmouth where gamers of all types can meet. We are here to promote gaming to everyone.">
	<meta name="keywords" content="UPGS, University of Portsmouth Gaming Society, Gaming Society, university, society, portsmouth, gaming, computer games">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Open Graph details -->
	<meta property='og:title' content="UPGS - University of Portsmouth Gaming Society" />	
	<meta property='og:description' content="A place within Portsmouth where gamers of all types can meet. We are here to promote gaming to everyone." />
	<meta property='og:url' content="http://thegamingsociety.co.uk" />
	<meta property='og:site_name' content="UPGS - University of Portsmouth Gaming Society: A place within Portsmouth where gamers of all types can meet." />
	<meta property='og:image' content='img/logo-square.png'/>

	<title>{{title}}</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,300,600|Open+Sans+Condensed:300,300italic,700">
	<link rel="stylesheet" href="../css/style.min.css">

	<link rel="shortcut icon" href="../img/favicon.ico" />

	<script type="text/javascript" src="../js/html5shiv/html5shiv.js"></script>
</head>
<body>
	<div class="login login--hidden">	
		<form action="/login">
			<div class="row">
				<label>Username</label><input type="text" name="user">
				<p class="hint">Not a member? <a href="http://www.upsu.net/store/product/583-gaming-society-membership-2013-14/">Sign up</a></p>
			</div>
			<div class="row">
				<label>Password</label><input type="password" name="pass">
				<p class="hint"><a href="#">Forgot your password?</a></p>
			</div>
			<div class="buttons">
				<button type="reset">Nah</button>
				<button type="submit">Ok log me in!</button>
			</div>
		</form>
	</div>

	{{> header}}

	{{{body}}}

	{{> footer}}
	
	{{> scripts}}
</body>
</html>