<main class="account game">
<div class="wrapper">
	
	<section class="info-section">
		<h1>Minecraft</h1>
		<p>Minecraft is a sandbox indie game originally created by Swedish programmer Markus "Notch" Persson and later developed and published by Mojang. It was publicly released for the PC on May 17, 2009, as a developmental alpha version and, after gradual updates, was published as a full release version on November 18, 2011.</p>
	</section>

	<aside>
		<section>
			<img src="http://localhost:3000/img/games/5.jpg" alt="Minecraft">
			<p>0 Players</p>
		
			<p>Platform:</p>
			
			<label class="control radio">
				<input checked type="radio" id="radio1" name="radio">
				<span class="control-indicator"></span>
				All
			</label>
			<label class="control radio">
				<input type="radio" id="radio1" name="radio">
				<span class="control-indicator"></span>
				PC
			</label>
			<label class="control radio">
				<input type="radio" id="radio2" name="radio">
				<span class="control-indicator"></span>
				Mac
			</label>
			<label class="control radio">
				<input type="radio" id="radio1" name="radio">
				<span class="control-indicator"></span>
				Xbox Live
			</label>
			<label class="control radio">
				<input type="radio" id="radio2" name="radio">
				<span class="control-indicator"></span>
				PSN
			</label>


	</aside>

	<div class="content">

		<div class="input--text">
			<label class="input--text__label" for="profile-user">Search</label>
			<input id="profile-user" type="text" value="{{user.username}}">
		</div>


		<ul class="players">
			<li class="player">
				<img class="player__avatar" src="http://lorempizza.com/64/64" alt="User profile image">
				<p class="player__username">Username</p>
				<button class="btn btn--success player__action-btn">Add on Steam</button>
			</li>

			<li class="player">
				<img class="player__avatar" src="http://lorempizza.com/64/64" alt="User profile image">
				<p class="player__username">Username</p>
				<button class="btn btn--success player__action-btn">Add on Steam</button>
			</li>

			<li class="player">
				<img class="player__avatar" src="http://lorempizza.com/64/64" alt="User profile image">
				<p class="player__username">Username</p>
				<button class="btn btn--success player__action-btn">Add on Steam</button>
			</li>

			<li class="player">
				<img class="player__avatar" src="http://lorempizza.com/64/64" alt="User profile image">
				<p class="player__username">Username</p>
				<button class="btn btn--success player__action-btn">Add on Steam</button>
			</li>

			<li class="player">
				<img class="player__avatar" src="http://lorempizza.com/64/64" alt="User profile image">
				<p class="player__username">Username</p>
				<button class="btn btn--success player__action-btn">Add on Steam</button>
			</li>
		</ul>

	</div>

</div>
</main>