<main>
	<div class="shapes">
		<div></div><div></div><div></div>
		<div></div><div></div><div></div>
	</div>

	<section class="info-section">
	<div class="wrapper">
		<div class="desc">
			<h1><span>University of Portsmouth</span> Gaming Society</h1>
			<h2>A place within Portsmouth where gamers of all types can meet.</h2>
			<p>Socials every <a href="#"><em>Thursday 19:00 til late</em> at <strong>The Trafalgar</strong></a>.</p>
		</div>	
		{{#unless loggedin}}		
		<div class="join">
			<a href="http://www.upsu.net/store/product/583-gaming-society-membership-2013-14/">Join the society!</a>
			<p>Get access to this site and entry to tournaments!</p>
		</div>
		{{/unless}}	
	</div>
	</section>

	<section id="games" class="games-section">
	<div class="wrapper">
		<a class="more" href="#">More games&hellip;</a>
		<h1>Games</h1>
		<h2>People are playing</h2>
		<ol class="games">
			{{#each games}}
			<li class='game'>
				<img alt="{{this.game_name}}" class="boxart" src="img/games/{{this.game_id}}.jpg">
				<h3>{{this.game_name}}</h3>
				<p>0 players</p>
			</li>
			{{/each}}
		</ol>
	</div>
	</section>
	
	{{!-- <section id="events" class="events-section">			
	<div class="wrapper">
		<div class="events">
			<h1>Socials</h1>
			<p>Come play games and converse about your favourite Tingle moment.</p>
			<p>We have socials every <em>Thursday 19:00 til late</em> at <strong>The Trafalgar</strong>.</p>
		</div>				
		<div class="events">
			<h1>Events</h1>
			<ul class="current-event">
				<li>Super Smash Bros. Brawl Tournament</li>
				<li>11/10/13 - 13:00</li>
				<li>The Union</li>
			</ul>
		</div>
	</div>
	</section> --}}

	<section id="servers" class="servers-section">
	<div class="wrapper">
		<h1>Servers</h1>
		<h2>24/7 Coverage!</h2>

		<div class="server">
			<h3 class="server-logo teamspeak offline">Teamspeak</h3>
			<p class="status offline col-1-6">Offline</p>
			<p class="col-1-3">0 people connected&hellip;</p>
			<p class="ip-address">teamspeak.thegamingsociety.co.uk</p>
		</div>

		<div class="server">
			<h3 class="server-logo minecraft online">Minecraft</h3>
			<p class="status online">Online!</p>
			<ul class="players">
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/Notch/32');" data-name="Notch">Notch</li>
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/Dinnerbone/32');" data-name="Dinnerbone">Dinnerbone</li>
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/ZacColley/32');" data-name="ZacColley">ZacColley</li>
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/Etho/32');" data-name="Etho">Etho</li>
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/SethBling/32');" data-name="SethBling">SethBling</li>
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/clone1018/32');" data-name="clone1018">clone1018</li>
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/citricsquid/32');" data-name="citricsquid">citricsquid</li>
				<li class="avatar" style="background-image: url('http://minotar.net/avatar/Kepha/32');" data-name="Kepha">Kepha</li>
			</ul>
			<p class="ip-address">mc.thegamingsociety.co.uk</p>
		</div>

	</div>
	</section>

</main>

<div class="wrapper">
<div class="social">
	<ul>
		<li><a href="https://www.facebook.com/groups/gamingsoc/" class="facebook">Facebook</a></li>
		<li><a href="https://twitter.com/uopgamingsoc" class="twitter">Twitter</a></li>
		<li><a href="https://plus.google.com/u/0/communities/109710575313255821027" class="google">Google</a></li>
		<li><a href="http://steamcommunity.com/groups/UPGS" class="steam">Steam</a></li>
	</ul>
</div>
</div>
