<div class="wrapper">
<main>

	<h1>Styleguide</h1>

	<h2>Typography</h2>

	<h1>Header One</h1>
	<h2>Header Two</h2>
	<h3>Header Three</h3>
	<h4>Header Four</h4>
	<h5>Header Five</h5>
	<h6>Header Five</h6>

	<p>This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<h2>Buttons</h2>

	<p>Some buttons yo</p>

	<div class="component">

		<pre><code>&lt;button class="btn"&gt;&lt;/button&gt;</code></pre>
		<button class="btn">Button</button>

	</div>
	
	<div class="component">

		<pre><code>&lt;button class="btn btn--primary"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--primary">Button (primary colour)</button>

	</div>
	
	<div class="component">

		<pre><code>&lt;button class="btn btn--success"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--success">Button (successful colour)</button>

	</div>
	
	<div class="component">

		<pre><code>&lt;button class="btn btn--error"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--error">Button (error colour)</button>

	</div>

	<p>for filled buttons add <code>.btn-fill</code>.</p>

	<div class="component">

		<pre><code>&lt;button class="btn btn--fill"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--fill">Button filled</button>

	</div>
	
	<div class="component">

		<pre><code>&lt;button class="btn btn--primary btn--fill"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--primary btn--fill">Button (primary colour) filled</button>

	</div>

	<div class="component">

		<pre><code>&lt;button class="btn btn--success btn--fill"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--success btn--fill">Button (successful colour) filled</button>

	</div>

	<div class="component">

		<pre><code>&lt;button class="btn btn--error btn--fill"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--error btn--fill">Button (error colour) filled</button>

	</div>

	<div class="component">

		<pre><code>&lt;button class="btn btn--big"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--big">Button (big)</button>

	</div>

	<div class="component">

		<pre><code>&lt;button class="btn btn--small"&gt;&lt;/button&gt;</code></pre>
		<button class="btn btn--small">Button (small)</button>

	</div>

	<h2>Forms</h2>

	<div class="component">
		
		
		<pre><code>
&lt;label class="control checkbox"&gt;
	&lt;input type="checkbox"&gt;
	&lt;span class="control-indicator"&gt;&lt;/span&gt;
	Check this custom checkbox
&lt;/label&gt;
		</code></pre>

		<label class="control checkbox">
			<input type="checkbox">
			<span class="control-indicator"></span>
			Check this custom checkbox
		</label>

	</div>

	<div class="component">

		<pre><code>
&lt;label class="control radio"&gt;
	&lt;input type="radio" id="radio1" name="radio"&gt;
	&lt;span class="control-indicator"&gt;&lt;/span&gt;
	Toggle this custom radio
&lt;/label&gt;
&lt;label class="control radio"&gt;
	&lt;input type="radio" id="radio2" name="radio"&gt;
	&lt;span class="control-indicator"&gt;&lt;/span&gt;
	Or toggle this other custom radio
&lt;/label&gt;
		</code></pre>

		<label class="control radio">
			<input type="radio" id="radio1" name="radio">
			<span class="control-indicator"></span>
			Toggle this custom radio
		</label>
		<label class="control radio">
			<input type="radio" id="radio2" name="radio">
			<span class="control-indicator"></span>
			Or toggle this other custom radio
		</label>

	</div>

	<div class="component">

		<pre><code>
&lt;label class="select"&gt;
	&lt;select&gt;
		&lt;option selected&gt;Open this select menu&lt;/option&gt;
		&lt;option value="1"&gt;One&lt;/option&gt;
		&lt;option value="2"&gt;Two&lt;/option&gt;
		&lt;option value="3"&gt;Three&lt;/option&gt;
	&lt;/select&gt;
&lt;/label&gt;
		</code></pre>
		
		<label class="select">
			<select>
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</label>

	</div>

	<div class="component">

	<pre><code>
&lt;label class="file"&gt;
	&lt;input type="file" id="file"&gt;
	&lt;span class="file-custom"&gt;&lt;/span&gt;
&lt;/label&gt;
	</code></pre>
		
		<label class="file">
			<input type="file" id="file">
			<span class="file-custom"></span>
		</label>

	</div>

</main>
</div>