

@import url('http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,800,700,600');

*{	margin: 0; padding: 0; box-sizing: border-box; border: none; outline: none; }

li{ list-style: none; }

main{
	width: 50%;
	margin: 0 auto;
}

body{
	background: #f3f3f3;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.description{
	color: #181818;
	padding: 1em;
	line-height: 1.5;
	font-size: .85em;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.logo{
	margin-top: .25em;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10vw;
	font-weight: 500;
	line-height: 10vw;
	font-family: "Fredoka One", Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #181818;
	text-align: center;
	white-space: nowrap;
	transition: letter-spacing .5s .25s, color .15s .25s;
	animation: sway 3s infinite;
}

.logo::before, .logo::after{
	content: '+';
	display: inline-block;
	width: 9vw;
	height: 10vw;
	margin: 0 1vw;
	color: transparent;
	background: url("../img/logo.svg") no-repeat;
	background-size: cover;
	transition: all .5s;
	transform-origin: 50%; /* ensures they spin from the center */
}

.logo::before{
	animation: left-spin 3s infinite;
}

.logo::after{
	background-position: right;
	animation: right-spin 3s infinite;
}

@keyframes left-spin{
	100%{ transform: rotateZ(360deg); }
}

@keyframes right-spin{
	100%{ transform: rotateZ(-360deg); }
}

@keyframes sway{
	50%{ transform: rotateX(10deg) rotateY(-10deg);	}
}

.servers-section{
	margin-bottom: .5em;
}

.server{
	padding: 1em;
	border-radius: 5px;
	background: #E7E7E7;
	overflow: hidden;
}

.server div{ overflow: hidden; }

.server .server-logo, .server .status{
	padding: 1em;
	font-size: 1em;
	text-align: center;
	float: left;
	width: 50%;
}

.server .server-logo{
	display: block;
	text-indent: -9999px;
	background: no-repeat 5px center;
	transition: filter .5s;
	transition: -webkit-filter .5s;
}

.server .minecraft{ background-image: url('../img/minecraft.png'); }

.server .server-logo,
.server-unknown .server-logo{
	-webkit-filter: drop-shadow(0 2px 0 #aaa) drop-shadow(0 -2px 0 #aaa)
					drop-shadow(2px 0 0 #aaa) drop-shadow(-2px 0 0 #aaa);
			filter: drop-shadow(0 2px 0 #aaa) drop-shadow(0 -2px 0 #aaa)
					drop-shadow(2px 0 0 #aaa) drop-shadow(-2px 0 0 #aaa);
}

.server-online .server-logo{
	-webkit-filter: drop-shadow(0 2px 0 #939740) drop-shadow(0 -2px 0 #939740)
					drop-shadow(2px 0 0 #939740) drop-shadow(-2px 0 0 #939740);
			filter: drop-shadow(0 2px 0 #939740) drop-shadow(0 -2px 0 #939740)
					drop-shadow(2px 0 0 #939740) drop-shadow(-2px 0 0 #939740);
}

.server-offline .server-logo{
	-webkit-filter: drop-shadow(0 2px 0 #AF4120) drop-shadow(0 -2px 0 #AF4120)
					drop-shadow(2px 0 0 #AF4120) drop-shadow(-2px 0 0 #AF4120);
			filter: drop-shadow(0 2px 0 #AF4120) drop-shadow(0 -2px 0 #AF4120)
					drop-shadow(2px 0 0 #AF4120) drop-shadow(-2px 0 0 #AF4120);
}

.server .status{
	opacity: 0;
	color: #181818;
	font-weight: 700;
	transition: opacity .5s;
	text-align: right;
}

.server .status strong{ 
	color: #555;
	font-weight: 600;
}

.server-online .status, .server-offline .status, .server-unknown .status{ opacity: 1; }

.server-online .status{  color: #939740; }
.server-offline .status{ color: #AF4120; }
.server-unknown .status{ color: #464646; }

.ip-address{ margin: .5em 0; }

.ip-address p,
.ip-address .copy-button,
.ip-address .copy-button-copied{
	float: left;
	outline: none;
	border: none;
	padding: 1.5em 1em;
	line-height: 1em;
	font-size: 1em;
	height: 4em;
}

.ip-address p{
	display: block;
	width: 80%;	
	resize: none;
	font-family: 'Courier New', monospace;
	font-weight: 500;
	text-align: center;
	background: #181818;
	color: #F4F4F4;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ip-address .copy-button,
.ip-address .copy-button-copied{
	width: 20%;
	color: #F3F3F3;
	text-transform: uppercase;
	font-family: "Fredoka One", Helvetica, Arial, sans-serif;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: background 1s;
}

.ip-address .copy-button{ background: #8D8D8D; }

.ip-address .copy-button-copied{
	transition: background .15s;
	background: #60B440;
	cursor: default;
}

.ip-address .copy-button:hover,
.ip-address .copy-button.zeroclipboard-is-hover{
	background: #ACACAC;
	cursor: pointer;
}

.ip-address .copy-button-copied:hover,
.ip-address .copy-button-copied.zeroclipboard-is-hover{
	background: #60B440;
	cursor: default;
}

.players{
	opacity: 0;
	text-align: center;
	padding: .5em 0;
	overflow: hidden;
	transition: opacity .5s;
}

.players-shown{ opacity: 1; }

.players li{
	padding: 1em;
	font-weight: bold;
	font-size: .85em;
	color: #333;d
	text-transform: uppercase;
	text-align: center;
}

.players li span{ font-weight: normal; }

.players .avatar{
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	margin: 4px;
	width: 32px;
	height: 32px;
	background: url('../img/steve.png');
	background-repeat: no-repeat;
}

.players .avatar:hover{ cursor: help; }

.players .avatar::after{
	z-index: 9999;
	content: attr(data-name);
	position: absolute;
	display: block;
	padding: 10px;
	line-height: 10px;
	text-indent: 0;
	text-align: center;
	color: #E4E4E4;
	font-weight: 500;
	background: #1D1D1D;
	transform: translateY(-5px);
	border-radius: 5px;
	border-top-left-radius: 0;
	opacity: 0;
	transition: opacity .25s, transform .5s;
}

.players .avatar:hover::after{
	transition: opacity .15s, transform .25s;
	transform: translateY(5px);
	opacity: 1;
}

.join a{
	font-family: "Fredoka One", Helvetica, Arial, sans-serif;
	padding: .5em;
	text-align: center;
	color: #F4F4F4;
	text-decoration: none;
	text-transform: uppercase;
}

.join .button{
	margin-top: .5em;
	display: block;
	background: #9DA235;
	font-size: 1.5em;
	border: none;
	outline: none;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	transition: background .15s;
}

.join .button:hover{
	background: #B5BB3E;
	cursor: pointer;
}

.social li a{
	float: left;
	width: 25%;
	background: no-repeat;
	background-size: 100%;
	border-radius: 0;
	font-size: .85em;
	font-weight: 500;
	transition: background .1s;
}
.social li:first-child a{
	border-bottom-left-radius: 5px;
}

.social li:last-child a{
	border-bottom-right-radius: 5px;
}

.social li .facebook{ background: #3B5998; }
.social li .facebook:hover{ background: #496EBD; }
.social li .twitter{ background: #4099FF; }
.social li .twitter:hover{ background: #6FB2FF; }
.social li .google{ background: #dd4b39; }
.social li .google:hover{ background: #FC5944; }
.social li .steam{ background: #181818; }
.social li .steam:hover{ background: #333232; }

@media screen and (max-width: 1000px){

	main{ width: 70%; }

}

@media screen and (max-width: 900px){

	main{ width: 80%; }

}

@media screen and (max-width: 700px){

	main{ width: 90%; }

}

@media screen and (max-width: 600px){

	main{ width: 95%; }

	.description{ width: 100%; }

	.logo{ margin-top: .5em; }

	.server .server-logo{
		background-position: center; 
		background-size: 60%;
	}
	
	.server .server-logo, .server .status{ padding: .75em; float: none; width: 100%; }
	.server .status{ text-align: center; }

	.ip-address{ font-size: .75em; }

	.ip-address p{
		width: 100%;
		border-radius: 5px;
	}

	.ip-address .copy-button, .ip-address .copy-button-copied{
		display: none;
	}

}